<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aula 33</title>
    <link rel="stylesheet" href="../static/aula34.css">
</head>
<body>
    <div id="c1" class="curso c1"><p class="p">Html</p></div>
    <div id="c2" class="curso c1"><p>Css</p></div>
    <div id="c3" class="curso c1"><p>Javascript</p></div>
    <div id="c4" class="curso c1">Python</div>
    <div id="c5" class="curso c1">React</div>
    <div id="c6" class="curso c1">MySQL</div>
    <div id="c7" class="curso c2">c++</div>
    <div id="c8" class="curso c2">cSharp</div>
    <div id="c9" class="curso c2">Arduino</div>
    <div id="c10" class="curso c2">Python</div>
    <div id="c11" class="curso c2">React Native</div>
    <div id="c12" class="curso c2">Raspberry</div>
    <div id="c11">teste 1</div>
    <div id="c12">teste 2</div>
    <div>zaca 1</div>
    <div>zaca 2</div>
    <p id="c13">Photoshop</p>
    <p id="c14">AppIventor</p>
    
    <script src="../scripts/aula34_metodo_querySelector_querySelectorAll.js"></script>
</body>
</html>