<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arquivo base para javascript</title>
</head>
<body>
    <!--
        <script src="../scripts/aula01.js"></script>
        <script src="../scripts/aula02_modo_estrito.js"></script>
        <script src="../scripts/aula_04_variaveis.js"></script>
        <script src="../scripts/aula05_operadores_aritimeticos.js"></script>
        <script src="../scripts/aula06_operadores_relacionais.js"></script>
        <script src="../scripts/aula08_operadores_logicos.js"></script>
    -->
    <script src="../scripts/aula09_operadores_bitwise.js"></script>
</body>
</html>